* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secondary);
}

:root {
    --primarycolor: rgb(0, 0, 0);
    --secondary: rgb(6, 250, 18);
}

.body-container {
    background-color: black;
}

header {
    grid-area: hd;
    background-color: var(--primarycolor);
    margin-top: 5px;
    padding-bottom: 6px;
    border-bottom: 1px solid;
}

main {
    grid-area: mn;
}

.main-project {
    margin-top: 10px;
}

footer {
    grid-area: ft;
}

.logo {
    width: 200px;
    background-color: var(--secondary);
    border-radius: 4px;
}

.nav-container {
    margin-top: 5px;
    padding-left: 5%;
}

.nav-container a {
    color: rgb(14, 228, 6);
    font-size: 30px;
    margin-left: 10px;
}

a.current-page {
    color: white;
}

.a-box {
    position: absolute;
}

.a-box div {
    font-size: 50px;
}

.a-box div:hover {
    font-size: 55px;
    color: blue;
}

.x-about-me {
    animation: x 17s linear infinite alternate;
}

.y-about-me {
    animation: y 7s linear infinite alternate;
}

.x-project {
    animation: x 15s linear infinite alternate;
}

.y-project {
    animation: y 5s linear infinite alternate;
}

.x-contact {
    animation: x 13s linear infinite alternate;
}

.y-contact {
    animation: y 10s linear infinite alternate;
}

@keyframes x {
    100% {
        transform: translateX(calc(95vw - 100px));
    }
}

@keyframes y {
    100% {
        transform: translateY(calc(94vh - 100px));
    }
}


@media (max-width: 768px) {

    .nav-container {
        margin-top: 9px;
    }

    .nav-container a {
        font-size: 25px;
    }
}

@media (max-width: 576px) {

    .nav-container {
        margin-top: 1px;
    }

    .logo-container {
        display: flex;
        justify-content: center;
    }

    .nav-container a {
        font-size: 25px;
        display: flex;
        justify-content: center;
    }

}